<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.likeminds.chatmm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".chatroom.explore.view.ChatroomExploreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMAppTheme.NoActionBar" />

        <activity
            android:name=".chatroom.detail.view.ChatroomDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMAppTheme.NoActionBar" />

        <activity
            android:name=".search.view.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LMAppTheme.NoActionBar" />
    </application>

</manifest>