name: Lint and Test

on:
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  lint_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@ccb4328a959376b642e027874838f60f8e596de3

    - name: Run tests
      run: ./gradlew test

    - name: Run lint
      if: always()
      run: ./gradlew lint
    
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: lint-intermediate-report
        path: /home/runner/work/LikeMinds-Android-SDK/LikeMinds-Android-SDK/likemindschat/build/intermediates/lint_intermediate_text_report/debug/lint-results-debug.txt
    
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: lint-results-html
        path: |
          /home/runner/work/LikeMinds-Android-SDK/LikeMinds-Android-SDK/fileutil/build/reports/lint-results-debug.html
          /home/runner/work/LikeMinds-Android-SDK/LikeMinds-Android-SDK/membertagging/build/reports/lint-results-debug.html
          /home/runner/work/LikeMinds-Android-SDK/LikeMinds-Android-SDK/internalsdk/build/reports/lint-results-debug.html
          /home/runner/work/LikeMinds-Android-SDK/LikeMinds-Android-SDK/app/build/reports/lint-results-debug.html
          /home/runner/work/LikeMinds-Android-SDK/LikeMinds-Android-SDK/likemindschat/build/reports/lint-results-debug.html